  *,
  *::after,
  *::before{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }
 
.text-img{
position: absolute;
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: x-large;
z-index: 2;
inset: 0;
background-color: rgba(0, 0, 0, 0.349);
display: flex;
justify-content: start;
align-items: center;
}
.text-hero{
  padding-left: 3rem;
  padding-bottom: 2rem;
  padding-top: 25rem;
}
.slider-button{
z-index: 3;
}
.img-slider{
  position: relative;
}
  .navbar input[type="checkbox"],
  .navbar .hamburger-lines{
      display: none;
  }

  .cont{
      max-width: 1200px;
      width: 90%;
      margin: auto;
  }
    /* navbar */

  .navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: relative;
    width: 100%;
    background: #ffffff;
    color: #000;
    z-index: 100;
  }

  .navbar-container{
      display: flex;
      justify-content: space-between;
      height: 64px;
      align-items: center;
  }

  .menu-items{
      order: 2;
      display: flex;
  }
  .logo{
      order: 1;
      font-size: 2.3rem;
  }

  .menu-items li{
      list-style: none;
      margin-left: 1.5rem;
      font-size: 1.3rem;
      margin-top: 30px;
  }

  .navbar a{
      color: #444;
      text-decoration: none;
      font-weight: 200;
      transition: color 0.3s ease-in-out;
  }

  .navbar a:hover{
      color: #117964;
  }

  @media (max-width: 768px){
      .navbar{
          opacity: 0.95;
      }

      .navbar-container input[type="checkbox"],
      .navbar-container .hamburger-lines{
          display: block;
      }

      .navbar-container{
          display: block;
          position: relative;
          height: 64px;
      }

      .navbar-container input[type="checkbox"]{
          position: absolute;
          display: block;
          height: 32px;
          width: 30px;
          top: 20px;
          left: 20px;
          z-index: 5;
          opacity: 0;
          cursor: pointer;
      }

      .navbar-container .hamburger-lines{
          display: block;
          height: 28px;
          width: 35px;
          position: absolute;
          top: 20px;
          left: 20px;
          z-index: 2;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }

      .navbar-container .hamburger-lines .line{
          display: block;
          height: 4px;
          width: 100%;
          border-radius: 10px;
          background: #333;
      }
      
      .navbar-container .hamburger-lines .line1{
          transform-origin: 0% 0%;
          transition: transform 0.3s ease-in-out;
      }

      .navbar-container .hamburger-lines .line2{
          transition: transform 0.2s ease-in-out;
      }

      .navbar-container .hamburger-lines .line3{
          transform-origin: 0% 100%;
          transition: transform 0.3s ease-in-out;
      }

      .navbar .menu-items{
          padding-top: 100px;
          background: #fff;
          height: 100vh;
          max-width: 300px;
          transform: translate(-150%);
          display: flex;
          flex-direction: column;
          margin-left: -40px;
          padding-left: 40px;
          transition: transform 0.5s ease-in-out;
          box-shadow:  5px 0px 10px 0px #aaa;
          overflow: scroll;
      }

      .navbar .menu-items li{
          margin-bottom: 1.8rem;
          font-size: 1.1rem;
          font-weight: 500;
      }

      .logo{
          position: absolute;
          top: 10px;
          right: 15px;
          font-size: 2.5rem;
      }

      .navbar-container input[type="checkbox"]:checked ~ .menu-items{
          transform: translateX(0);
      }

      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
          transform: rotate(45deg);
      }

      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
          transform: scaleY(0);
      }

      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
          transform: rotate(-45deg);
      }

  }

  @media (max-width: 500px){
      .navbar-container input[type="checkbox"]:checked ~ .logo{
          display: none;
      }
  }

  /* boton desplegable */

  .dropdown {
    position: relative;
  }
  
  .dropdown .btnle {
    position: relative;
  }
  
  .dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: #FFFFFF;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    text-align: left;
  }
  
  .dropdown ul:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 20px;
    width: 0;
    height: 0;
    box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.05);
    border-top: 6px solid #FFFFFF;
    border-right: 6px solid #FFFFFF;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    transform: rotate(-45deg);
    mix-blend-mode: multiple;
  }
  
  .dropdown:hover ul {
    top: calc(100% + 5px);
    opacity: 1;
    visibility: visible;
  }
  
  .btnle {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #5380F7;
    min-width: 120px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
  }
  
  .btnle:focus .dropdown,
  .btnle:active .dropdown {
    transform: translate(0, 20px);
    opacity: 1;
    visibility: visible;
  }
  
  .btnle .material-icons {
    border-radius: 100%;
    -webkit-animation: ripple 0.6s linear infinite;
    animation: ripple 0.6s linear infinite;
  }
  
  .btnle .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: #FFFFFF;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
  }
  
  .btnle .dropdown:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 20px;
    width: 0;
    height: 0;
    box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.05);
    border-top: 6px solid #FFFFFF;
    border-right: 6px solid #FFFFFF;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    transform: rotate(-45deg);
    mix-blend-mode: multiple;
  }
  
  .btnle:focus .dropdown,
  .btnle:hover .dropdown {
    top: calc(100% + 5px);
    opacity: 1;
    visibility: visible;
  }
  
  @-webkit-keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
  }
  
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
  }
  



  /* FOOTER  */


  /* Este es principal de footer */
  .site-footer {
    background-color: #ff0606;
    padding: 45px 0 40px;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }


  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h6
  {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .site-footer a
  {
    color:#fff6f6;
  }
  .site-footer a:hover
  {
    color:#000000;
    text-decoration:none;
  }
  .footer-links
  {
    padding-left:0;
    list-style:none
  }
  .footer-links li
  {
    display:block
  }
  .footer-links a
  {
    color:#ffffff
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#000000;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  .site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text
  {
    margin:0
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }

  

  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#00aced
  }
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.dribbble:hover
  {
    background-color:#ea4c89
  }
  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }


  /* PAGINAPRINCIPAL */
  .containercuadros {
  display: flex;
  flex-wrap: wrap;
}

.rowww {
  flex: 0 0 50%;
  max-width: 50%;
}

.boxes {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.contentido {
  background: #f1f1f1;
  padding: 10px;
  text-align: center;
}

  /* ---------------------------------------------------------SIDEBAR */

  .botoagregarUsuarios{
    color: #ffffff;
  }

  .listausuarios {
    text-align: center;
  }
  
  .sidebar-container {
    display: flex;
  }
  
  .sidebar-navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 120px;
    background-color: #ff0000;
    z-index: 9999;
    transition: width 0.3s ease;
  }
  
  .sidebar-navigation ul {
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .sidebar-navigation ul li {
    padding: 28px 0;
    cursor: pointer;
    transition: all ease-out 120ms;
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar-navigation ul li i {
    display: block;
    font-size: 24px;
    transition: all ease 450ms;
  }
  
  .sidebar-navigation ul li .tooltip {
    display: inline-block;
    position: absolute;
    color: #000;
    background-color: #f33636;
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: -26px;
    left: 110px;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    letter-spacing: 0.5px;
  }
  
  .sidebar-navigation ul li .tooltip:before {
    content: "";
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
  }
  
  .sidebar-navigation ul li:hover {
    background-color: #22252E;
  }
  
  .sidebar-navigation ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  .sidebar-navigation ul li.active {
    background-color: #22252E;
  }
  
  .sidebar-navigation ul li.active i {
    color: #98D7EC;
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #ff0000;
    z-index: 9999;
    width: 100%;
    margin-left: 0;
  }
  
  .sidebar-title {
    color: white;
    font-size: 35px;
    font-weight: bold;
    padding-left: 150px;
  }
  
  .circle-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.bg-blue {
  background-color: #03A9F4 !important;
}

.py-profile .avatar {
  padding: 0;
}
.py-profile .avatar:after {
  font-family: fontawesome !important;
  content: "ïƒ—";
  border: none;
  padding-top: 9px;
  /* padding-left: 1px; */
  color: #03A9F4;
  background-color: #fff;
  position: absolute;
  display: block;
  font-size: 15px;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  line-height: 0;
  text-align: center;
  bottom: -3px;
  left: -3px;
  margin: 0;
  border: 2px solid #03A9F4;
}
.py-profile .avatar img {
  width: 50px;
  height: auto;
  border-radius: 25px;
}
  @media screen and (max-width: 767px) {
    .sidebar-container {
      flex-direction: column;
    }
  
    .sidebar-header {
      margin-left: 0;
      width: 100%;
    }
  
    .sidebar-navigation {
      width: 100%;
      height: auto;
      position: relative;
    }
  
    .sidebar-navigation ul {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .sidebar-navigation ul li {
      width: 33.33%;
      padding: 20px 0;
    }
  }
  

/* BOTON REGRESAR DE LOGINADMIN */
.regresarAdmin {
  background-color: rgb(251, 0, 0);
  color: #000;
  transition: background-color 0.3s ease; 
}

.regresarAdmin:hover {
  background-color: #e77954; 
  color: #000000; 
}
/* tabla de datos */
.table-container {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .table-container {
    margin-right: 10px;
  }
}

/* form de agregar USUARIOS  */
#create-tarea{
  text-align: center;
}


/* CARDS DE USUARIOS PARA MOSTRAR CUENTAS  */

/* html,
body {
  height: 100%;
}
body {
  display: grid;
  font-family: Avenir, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
} */
.tariffCards {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -180px 0 0 -140px;
  user-select: none;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
}
.tariffCards:after {
  position: absolute;
  bottom: -27px;
  left: 5%;
  content: '';
  width: 65%;
  height: 10px;
  border-radius: 100%;
  background-image: radial-gradient(rgba(34,50,84,0.04), rgba(34,50,84,0));
}
.tariffCards > div {
  position: relative;
  width: 280px;
  height: 140px;
  border-radius: 12px;
  color: #fff;
  transform: rotateX(45deg) rotateY(-15deg) rotate(45deg);
  transition: all 0.4s ease;
  overflow: hidden;
  cursor: pointer;
}
.tariffCards > div:after {
  position: absolute;
  top: -70px;
  left: 0;
  content: '';
  width: 200%;
  height: 200%;
  background-image: linear-gradient(60deg, rgba(255,255,255,0) 20%, rgba(255,255,255,0.1), rgba(255,255,255,0) 80%);
  transform: translateX(-100%);
}
.tariffCards > div img {
  margin-top: 15px;
  pointer-events: none;
}
.tariffCards > div h3 {
  position: absolute;
  bottom: 28px;
  left: 15px;
  font-size: 18px;
  font-weight: 800;
}
.tariffCards > div span {
  position: absolute;
  font-weight: 700;
  bottom: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 600;
  opacity: 0.8;
}
.tariffCards > div.economy {
  margin-top: 0;
  z-index: 3;
  background-color: #8063e1;
  background-image: linear-gradient(135deg, #bd7be8, #8063e1);
  box-shadow: 20px 20px 60px rgba(34,50,84,0.5), 1px 1px 0px 1px #8063e1;
}
.tariffCards > div.premiumeconomy {
  margin-top: -70px;
  z-index: 2;
  background-color: #3f58e3;
  background-image: linear-gradient(135deg, #7f94fc, #3f58e3);
  box-shadow: 20px 20px 60px rgba(34,50,84,0.5), 1px 1px 0px 1px #3f58e3;
}
.tariffCards > div.business {
  margin-top: -70px;
  z-index: 1;
  background-color: #2c6fd1;
  background-image: linear-gradient(135deg, #21bbfe, #2c6fd1);
  box-shadow: 20px 20px 60px rgba(34,50,84,0.5), 1px 1px 0px 1px #2c6fd1;
}
.tariffCards > div.first {
  margin-top: -70px;
  background-color: #352f64;
  background-image: linear-gradient(135deg, #415197, #352f64);
  box-shadow: 5px 5px 60px rgba(34,50,84,0.1), 1px 1px 0px 1px #352f64;
}
.tariffCards > div:hover {
  transform: rotateX(30deg) rotateY(-15deg) rotate(30deg) translate(-25px, 50px);
}
.tariffCards > div:hover:after {
  transform: translateX(100%);
  transition: all 1.2s ease-in-out;
}




