  *,
  *::after,
  *::before{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }
  /* 
  .html{
      font-size: 62.5%;
  } */
.text-img{
position: absolute;
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: x-large;
z-index: 2;
inset: 0;
background-color: rgba(0, 0, 0, 0.349);
display: flex;
justify-content: start;
align-items: center;
}
.text-hero{
  padding-left: 3rem;
  padding-bottom: 2rem;
  padding-top: 25rem;
}
.slider-button{
z-index: 3;
}
.img-slider{
  position: relative;
}
  .navbar input[type="checkbox"],
  .navbar .hamburger-lines{
      display: none;
  }

  .cont{
      max-width: 1200px;
      width: 90%;
      margin: auto;
  }
    /* navbar */

  .navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: relative;
    width: 100%;
    background: #ffffff;
    color: #000;
    z-index: 100;
  }

  .navbar-container{
      display: flex;
      justify-content: space-between;
      height: 64px;
      align-items: center;
  }

  .menu-items{
      order: 2;
      display: flex;
  }
  .logo{
      order: 1;
      font-size: 2.3rem;
  }

  .menu-items li{
      list-style: none;
      margin-left: 1.5rem;
      font-size: 1.3rem;
      margin-top: 30px;
  }

  .navbar a{
      color: #444;
      text-decoration: none;
      font-weight: 200;
      transition: color 0.3s ease-in-out;
  }

  .navbar a:hover{
      color: #117964;
  }

  @media (max-width: 768px){
      .navbar{
          opacity: 0.95;
      }

      .navbar-container input[type="checkbox"],
      .navbar-container .hamburger-lines{
          display: block;
      }

      .navbar-container{
          display: block;
          position: relative;
          height: 64px;
      }

      .navbar-container input[type="checkbox"]{
          position: absolute;
          display: block;
          height: 32px;
          width: 30px;
          top: 20px;
          left: 20px;
          z-index: 5;
          opacity: 0;
          cursor: pointer;
      }

      .navbar-container .hamburger-lines{
          display: block;
          height: 28px;
          width: 35px;
          position: absolute;
          top: 20px;
          left: 20px;
          z-index: 2;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }

      .navbar-container .hamburger-lines .line{
          display: block;
          height: 4px;
          width: 100%;
          border-radius: 10px;
          background: #333;
      }
      
      .navbar-container .hamburger-lines .line1{
          transform-origin: 0% 0%;
          transition: transform 0.3s ease-in-out;
      }

      .navbar-container .hamburger-lines .line2{
          transition: transform 0.2s ease-in-out;
      }

      .navbar-container .hamburger-lines .line3{
          transform-origin: 0% 100%;
          transition: transform 0.3s ease-in-out;
      }

      .navbar .menu-items{
          padding-top: 100px;
          background: #fff;
          height: 100vh;
          max-width: 300px;
          transform: translate(-150%);
          display: flex;
          flex-direction: column;
          margin-left: -40px;
          padding-left: 40px;
          transition: transform 0.5s ease-in-out;
          box-shadow:  5px 0px 10px 0px #aaa;
          overflow: scroll;
      }

      .navbar .menu-items li{
          margin-bottom: 1.8rem;
          font-size: 1.1rem;
          font-weight: 500;
      }

      .logo{
          position: absolute;
          top: 10px;
          right: 15px;
          font-size: 2.5rem;
      }

      .navbar-container input[type="checkbox"]:checked ~ .menu-items{
          transform: translateX(0);
      }

      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
          transform: rotate(45deg);
      }

      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
          transform: scaleY(0);
      }

      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
          transform: rotate(-45deg);
      }

  }

 


  @media (max-width: 500px){
      .navbar-container input[type="checkbox"]:checked ~ .logo{
          display: none;
      }
  }

  /* boton desplegable */
/* 
  .contaaainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */


  .dropdown {
    position: relative;
  }
  
  .dropdown .btnle {
    position: relative;
  }
  
  .dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: #FFFFFF;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    text-align: left;
  }
  
  .dropdown ul:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 20px;
    width: 0;
    height: 0;
    box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.05);
    border-top: 6px solid #FFFFFF;
    border-right: 6px solid #FFFFFF;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    transform: rotate(-45deg);
    mix-blend-mode: multiple;
  }
  
  .dropdown:hover ul {
    top: calc(100% + 5px);
    opacity: 1;
    visibility: visible;
  }
  
  .btnle {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #5380F7;
    min-width: 120px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
  }
  
  .btnle:focus .dropdown,
  .btnle:active .dropdown {
    transform: translate(0, 20px);
    opacity: 1;
    visibility: visible;
  }
  
  .btnle .material-icons {
    border-radius: 100%;
    -webkit-animation: ripple 0.6s linear infinite;
    animation: ripple 0.6s linear infinite;
  }
  
  .btnle .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: #FFFFFF;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
  }
  
  .btnle .dropdown:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 20px;
    width: 0;
    height: 0;
    box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.05);
    border-top: 6px solid #FFFFFF;
    border-right: 6px solid #FFFFFF;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    transform: rotate(-45deg);
    mix-blend-mode: multiple;
  }
  
  .btnle:focus .dropdown,
  .btnle:hover .dropdown {
    top: calc(100% + 5px);
    opacity: 1;
    visibility: visible;
  }
  
  /* .btnle .dropdown li {
    z-index: 1;
    position: relative;
    background: #b92d2d;
    padding: 0 0px;
    
  } */
  
  /* .btnle .dropdown li.active {
    color: #5380F7;
  }
  
  .btnle .dropdown li:first-child {
    border-radius: 4px 4px 0 0;
  }
  
  .btnle .dropdown li:last-child {
    border-radius: 0 0 4px 4px;
  }
  
  .btnle .dropdown li:last-child a {
    border-bottom: 0;
  }
  
  .btnle .dropdown a {
    display: block;
    border-bottom: 1px solid rgba(181, 40, 40, 0.05);
    padding: 16px 0;
    color: inherit;
    font-size: 10px;
    text-decoration: none;
  } */
  
  @-webkit-keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
  }
  
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
  }
  



  /* FOOTER  */


  /* Este es principal de footer */
  .site-footer {
    background-color: #26272b;
    padding: 45px 0 40px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }


  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h6
  {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .site-footer a
  {
    color:#737373;
  }
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links
  {
    padding-left:0;
    list-style:none
  }
  .footer-links li
  {
    display:block
  }
  .footer-links a
  {
    color:#737373
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  .site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text
  {
    margin:0
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }

  

  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#00aced
  }
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.dribbble:hover
  {
    background-color:#ea4c89
  }
  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }


  /* PAGINAPRINCIPAL */
  .containercuadros {
  display: flex;
  flex-wrap: wrap;
}

.rowww {
  flex: 0 0 50%;
  max-width: 50%;
}

.boxes {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.contentido {
  background: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* SIDEBAR */

  /* .sidebar-navigation {
    display: inline-block;
    min-height: 100vh;
    width: 80px;
    background-color: #313443;
    float: left;
  }
  .sidebar-navigation ul {
    text-align: center;
    color: white;
  }
  .sidebar-navigation ul li {
    padding: 28px 0;
    cursor: pointer;
    transition: all ease-out 120ms;
  }
  .sidebar-navigation ul li i {
    display: block;
    font-size: 24px;
    transition: all ease 450ms;
  }
  .sidebar-navigation ul li .tooltip {
    display: inline-block;
    position: absolute;
    background-color: #313443;
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: -26px;
    left: 90px;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    letter-spacing: 0.5px;
  }
  .sidebar-navigation ul li .tooltip:before {
    content: "";
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
  }
  .sidebar-navigation ul li:hover {
    background-color: #22252E;
  }
  .sidebar-navigation ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  .sidebar-navigation ul li.active {
    background-color: #22252E;
  }
  .sidebar-navigation ul li.active i {
    color: #98D7EC;
  } */

  .sidebar-navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #313443;
    z-index: 9999;
    transition: width 0.3s ease;
  }
  
  .sidebar-navigation ul {
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-navigation ul li {
    padding: 28px 0;
    cursor: pointer;
    transition: all ease-out 120ms;
  }
  
  .sidebar-navigation ul li i {
    display: block;
    font-size: 24px;
    transition: all ease 450ms;
  }
  
  .sidebar-navigation ul li .tooltip {
    display: inline-block;
    position: absolute;
    background-color: #f33636;
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: -26px;
    left: 200px;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    letter-spacing: 0.5px;
  }
  
  .sidebar-navigation ul li .tooltip:before {
    content: "";
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
  }
  
  .sidebar-navigation ul li:hover {
    background-color: #22252E;
  }
  
  .sidebar-navigation ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  .sidebar-navigation ul li.active {
    background-color: #22252E;
  }
  
  .sidebar-navigation ul li.active i {
    color: #98D7EC;
  }
  
  /* Estilos para el sidebar-header */
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #22252E;
    position: fixed;
    top: 0;
    left: 80px;
    right: 0;
    z-index: 9999;
  }
  
  .sidebar-title {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: center; /* A침ade esta propiedad para centrar el texto */
  }
  
  .circle-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Estilos para pantallas m치s grandes */
  @media screen and (min-width: 768px) {
    .sidebar-navigation {
      width: 200px;
    }
  
    .sidebar-navigation ul li {
      padding: 20px 0;
    }
  }
  
  /* Estilos para pantallas m치s peque침as */
  @media screen and (max-width: 767px) {
    .sidebar-navigation {
      width: 100%;
      height: auto;
      position: relative;
    }
  
    .sidebar-navigation ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .sidebar-navigation ul li {
      width: 33.33%;
      padding: 20px 0;
    }
  }